
<h1>Welcome to the books page</h1>
<% @books.each do |book|  %>
      <div>
        <h3><a href="/books/<%= book[:id]%>"><%= book[:title] %> </a></h3>
        <img src="<%= book[:image] %>" alt="">
      </div>
    <% end %>
