
<h1>Welcome to the books page</h1>
<% @posts.each do |post|  %>
      <div class="bookpost">
        <h3><a href="/<%= post.id%>"><%= post.title %> </a></h3>
        <img class="bookcover" src="<%= post.image %>" alt="image does not exist">
      </div>
    <% end %>
