<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <%= erb(:'partials/navigation', :layout => false) %>
    <%= yield %>

  </body>
</html>
