
body{

   font-family: "Arial"


}


h1{
  color: red;
  border-radius: 9px;
  background-color: #00000085;

}

a{
  color: red;
  text-decoration: none;
  margin: 11px;

}

h3{
  color: blue;
}

.bookpost{
  margin-left: 44%;
}

#worldBook {
  height: 49px;
  width: 77px;
}
